/authentication-service/authApp
/broker-service/brokerApp
/logger-service/loggerServiceApp
/listener-service/listenerApp
/mail-service/mailerServiceApp
/front-end/frontApp
/project/db-data/postgres/
/project/db-data/mongo/
/project/db-data/rabbitmq/
